extends ../../layouts/default

block head
  title Browse PYP By Module Code

block neck
  link(rel='stylesheet', href='/views/about/index.min.css?#{cacheBreaker}')

block body
  div.row
    div.col-sm-6
      div.page-header
        h1 All Online Modules
      .tab
        button.tablinks(onclick="openModules(event, 'Level_1000')" id="defaultOpen") Level 1000
        button.tablinks(onclick="openModules(event, 'Level_2000')") Level 2000
        button.tablinks(onclick="openModules(event, 'Level_3000')") Level 3000
        button.tablinks(onclick="openModules(event, 'Level_4000')") Level 4000
      #Level_1000.tabcontent
        ul.list-group
          each module, i in data
            if module.module_code[2] == "1" && module.is_active
              li.list-group-item
                strong #{module.module_code} - #{module.module_name}
                &nbsp;&nbsp;
                a(href='/browse/#{module.module_code}', class='btn btn-default btn-xs pull-right') Read More
      #Level_2000.tabcontent
        ul.list-group
          each module, i in data
            if module.module_code[2] == "2" && module.is_active
              li.list-group-item
                strong #{module.module_code} - #{module.module_name}
                &nbsp;&nbsp;
                a(href='/browse/#{module.module_code}', class='btn btn-default btn-xs pull-right') Read More
      #Level_3000.tabcontent
        ul.list-group
          each module, i in data
            if module.module_code[2] == "3" && module.is_active
              li.list-group-item
                strong #{module.module_code} - #{module.module_name}
                &nbsp;&nbsp;
                a(href='/browse/#{module.module_code}', class='btn btn-default btn-xs pull-right') Read More
      #Level_4000.tabcontent
        ul.list-group
          each module, i in data
            if module.module_code[2] == "4" && module.is_active
              li.list-group-item
                strong #{module.module_code} - #{module.module_name}
                &nbsp;&nbsp;
                a(href='/browse/#{module.module_code}', class='btn btn-default btn-xs pull-right') Read More



    div.col-sm-6.special
      div.page-header
        h1 Past Year Solutions
      p.lead Excellence comes from endless practices.
      br
      i.fa.fa-file-text.super-awesome
