extends ../../layouts/admin

block head
  title Editing Answers for Admins

block neck
  link(rel='stylesheet', href='/views/allanswers/edit.min.css?#{cacheBreaker}')

block body
  div.row
    div.col-sm-8
      div.page-header
        h1 Editing Answer for #{answer.module_code} - #{answer._year_sem} by #{answer.author}
      form(method="post", action='/allanswers/update/#{answer._id}')
        div.form-group
          label Module Code
          input.form-control(type="text", name="module_code", value='#{answer.module_code}')
        div.form-group
          label Year & Semester
          input.form-control(type="text", name="_year_sem", value='#{answer._year_sem}')
        div.form-group
          label Question Number
          input.form-control(type="text", name="question_number", value='#{answer.question_number}', required = '')
        div.form-group
          label Author
          input.form-control(type="text", name="author", value='#{answer.author}', readonly = '')
        div.form-group
          label Author ObjectId
          input.form-control(type="text", name="author_id", value='#{answer.author_id}', readonly = '')
        div.form-group
          label Details
          textarea.form-control(name="details", required = '') #{answer.details}
        div.form-group
          button.btn.btn-primary.btn-signup(type='submit') Update Answer
          a.btn.btn-danger.pull-right(href='/allanswers') Cancel
