extends ../../layouts/default

block head
  title My Answers

block neck
  link(rel='stylesheet', href='/views/myanswers/index.min.css?#{cacheBreaker}')

block feet
  script(src='/views/myanswers/index.min.js?#{cacheBreaker}')

block body
  .container
    div.page-header
      h1 My Answers
  ul.list-group
    each answer, i in data
      li.list-group-item
        Strong Posted to #{answer.module_code} - #{answer._year_sem} for Question #{answer.question_number}
        hr
        p #{answer.details}
        Strong Submitted by #{answer.author} on #{answer.date}
        hr
        a(href='/myanswers/edit/#{answer._id}', class='btn btn-primary') Edit
        a(data-delete='#{answer._id}', class='btn btn-danger pull-right deleteAnswer_my', href="#") Delete
